.italic {
  font-style: italic;
}

.indent {
  text-indent: 10%;
  font-size: 0.8em;
}

a.card,
a.card:hover {
  color: #212529;
  text-decoration: none;
}

.padding-0-for-card-body {
  padding-top: 0;
}

.img-twenty {
  max-width: 20%;
}

.img-twenty-five {
  max-width: 30%;
}

.img-thirty-five {
  max-width: 35%;
}

.img-half {
  max-width: 50%;
}

.img-fourty {
  max-width: 40%;
}

.image-size {
  max-width: 60%;
}

.img-seventy-five {
  max-width: 80%;
}

.select:focus {
  border-color: blue;
}

.overflow-control {
  max-height: 500px;
  overflow-y: scroll;
}

h6 {
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
}

/* btn for homepage */

.splash-button {
  color: green;
  font-size: 17px;
  padding: 13px 36px;
  margin-bottom: 5px;
}

/* custom area for redefining the event planning experience */

.custom-row {
  background-color: rgb(247, 247, 247);
  opacity: 0.8;
}

/* animation for cake */

.img-hover-zoom {
  /* Modify this according to your need */
  overflow: hidden;

  /* Removing this will break the effects */
}

.img-hover-zoom-blur img {
  transition: transform 1s, filter 2s ease-in-out;
  filter: blur(0.5px);
  transform: scale(1.2);
}

/* The Transformation */

.img-hover-zoom-blur:hover img {
  filter: blur(0);
  transform: scale(1);
}

/* .custom-row-2 {
  background-image: url("https://img.freepik.com/free-vector/elegant-white-card-with-white-floral-decoration_1361-1269.jpg?w=2000&t=st=1669944773~exp=1669945373~hmac=580e5c9976e311c964b7a3cd77f44729815c362d151aad47de3eec38080c615b");
  opacity: 0.8;
} */

.custom-row-login-register {
  background-image: url("https://img.freepik.com/free-vector/elegant-white-card-with-white-floral-decoration_1361-1269.jpg?w=2000&t=st=1669944773~exp=1669945373~hmac=580e5c9976e311c964b7a3cd77f44729815c362d151aad47de3eec38080c615b");
  opacity: 0.8;
  min-height: 50em;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-background {
  /* background-image: url("https://images.pexels.com/photos/265856/pexels-photo-265856.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"); */
  background-image: url("/images/splash.png");
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;

  /* background-position: center; */
  height: 30rem;
}

@media (max-width: 629px) {
  .image-size {
    display: none;
  }

  .menu-background {
    display: none;
  }

  .home-background {
    display: none;
  }
}

.card-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.card-shadow-type-2 {
  box-shadow:
    rgba(17, 17, 26, 0.1) 0 4px 16px,
    rgba(17, 17, 26, 0.05) 0 8px 32px;
}

.lustria-font {
  font-family: Lustria, sans-serif;
}

.mate-font {
  font-family: "Mate SC", Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.menu-background-fixed {
  /* background-image: url("https://images.unsplash.com/photo-1525441273400-056e9c7517b3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"); */
  background-image: url("/images/menu-background-fixed.png");
  opacity: 0.8;
  min-height: 50em;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.menu-row {
  background-color: rgb(2, 2, 2);
  opacity: 0.8;
}

.menu-text {
  color: whitesmoke;
  opacity: 0.9;
}

.effect:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.home-ultrabackground {
  background-color: rgb(247, 247, 247);
  opacity: 0.8;
}

.home-ultrabackground-9 {
  background-color: rgb(247, 247, 247);
  opacity: 0.9;
}

.home-ultrabackground-color {
  background-color: rgb(247, 247, 247);
}

.home-black {
  background: black;
  color: white;
  opacity: 0.8;
}

.home-card-background {
  /* background-image: url("https://images.unsplash.com/photo-1467810563316-b5476525c0f9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80"); */
  background-image: url("/images/card-splash.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 18rem;
  opacity: 1;
}

.home-background-second {
  /* background-image: url("https://images.pexels.com/photos/265893/pexels-photo-265893.jpeg?auto=compress&cs=tinysrgb&w=1600"); */
  background-image: url("/images/bouquet.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  height: 22rem;
}

.customfont1 {
  color: white;
  font-size: 2em;
  text-shadow:
    -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

.guideline-max-width {
  max-width: 800px;
}

.faq-background-fixed {
  /* background-image: url("https://images.pexels.com/photos/4466492/pexels-photo-4466492.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"); */
  background-image: url("/images/faq-background.png");
  opacity: 0.9;
  min-height: 50em;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}

.blue-color {
  color: rgba(41, 202, 203, 0.8);
}

.guest-list-background-fixed {
  /* background-image: url("https://images.unsplash.com/photo-1560145725-18e738a9a336?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3053&q=80"); */
  background-image: url("/images/guest-list-background-fixed.png");
  opacity: 0.8;
  min-height: 50em;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.wedding-catering-list-fixed {
  /* background-image: url("https://images.unsplash.com/photo-1520245787685-fb1e6732fb76?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2970&q=80"); */
  background-image: url("images/wedding-catering-list-fixed.png");
  opacity: 0.8;
  min-height: 50em;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.budget-fixed {
  /* background-image: url("https://images.pexels.com/photos/1410226/pexels-photo-1410226.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"); */
  background-image: url("images/budget-fixed.png");
  opacity: 0.8;
  min-height: 50em;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.wedding-checklist-fixed {
  /* background-image: url("https://images.pexels.com/photos/1050485/pexels-photo-1050485.jpeg?auto=compress&cs=tinysrgb&w=1600"); */
  background-image: url("/images/wedding-checklist-fixed.png");
  opacity: 0.9;
  min-height: 50em;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.form-control {
  background-color: rgb(247, 247, 247));
}
