.italic {
  font-style: italic;
}

.card-img-top {
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
  height: auto;
  display: block;
  object-fit: cover;
}

.indent {
  text-indent: 10%;
  font-size: 0.8em;
}

a.card,
a.card:hover {
  color: #212529;
  text-decoration: none;
}

.padding-0-for-card-body {
  padding-top: 0;
}

.img-half {
  max-width: 50%;
}

.select:focus {
  border-color: blue;
}

.overflow-control {
  max-height: 500px;
  overflow-y: scroll;
}

h6 {
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
}
