.italic {
  font-style: italic;
}

.card-img-top {
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
  height: auto;
  display: block;
  object-fit: cover;
}

.indent {
  text-indent: 10%;
  font-size: 0.8em;
}

a.card,
a.card:hover {
  color: #212529;
  text-decoration: none;
}

.padding-0-for-card-body {
  padding-top: 0;
}
