.italic {
  font-style: italic;
}

.card-img-top {
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
  height: auto;
  display: block;
  object-fit: cover;
}

.indent {
  text-indent: 10%;
  font-size: 0.8em;
}

a.card,
a.card:hover {
  color: #212529;
  text-decoration: none;
}

.padding-0-for-card-body {
  padding-top: 0;
}

.img-half {
  max-width: 50%;
}

.select:focus {
  border-color: blue;
}

.overflow-control {
  max-height: 500px;
  overflow-y: scroll;
}

h6 {
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
}

/* btn for homepage */

.splash-button {
  color: green;
  font-size: 17px;
  padding: 13px 36px;
  margin-bottom: 5px;
}

/* custom area for redefining the event planning experience */
.custom-row {
  background-color: lightcyan;
}

/* animation for cake */

.img-hover-zoom {
  /* Modify this according to your need */
  overflow: hidden;

  /* Removing this will break the effects */
}

.img-hover-zoom-blur img {
  transition: transform 1s, filter 2s ease-in-out;
  filter: blur(0.5px);
  transform: scale(1.2);
}

/* The Transformation */

.img-hover-zoom-blur:hover img {
  filter: blur(0);
  transform: scale(1);
}

.custom-row-2 {
  background-image: url("https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.webp");
}

.image-size {
  max-width: 60%;
}
